<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.spring.country.dao.CityDao">
  <resultMap id="BaseResultMap" type="test.spring.country.model.City">
    <id column="city_id" jdbcType="SMALLINT" property="city_id" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country_id" jdbcType="SMALLINT" property="country_id" />
    <result column="last_update" jdbcType="TIMESTAMP" property="last_update" />
  </resultMap>
  <sql id="Base_Column_List">
    city_id, city, country_id, last_update
  </sql>
  
    <select id="getList" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from sakila.city;
    </select>
	
	  <select id="selectByCountry_id" parameterType="java.lang.Short" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from sakila.city
		where country_id = #{country_id,jdbcType=SMALLINT}
	  </select>
</mapper>